<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556729113525-ao4d0ssem3tn72hhvo7om56i11k12dcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556729113525-ao4d0ssem3tn72hhvo7om56i11k12dcc</string>
	<key>API_KEY</key>
	<string>AIzaSyAkSa7SUdYG4XGQ6UDwx_xMErg6Hoxmhms</string>
	<key>GCM_SENDER_ID</key>
	<string>556729113525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindateq.cattranslator</string>
	<key>PROJECT_ID</key>
	<string>cat-translator-75956</string>
	<key>STORAGE_BUCKET</key>
	<string>cat-translator-75956.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556729113525:ios:c366c37a59c061539157fc</string>
</dict>
</plist>